In [1]:
#MY CODE
import googleanalytics as ga
import pandas as pd
import psycopg2
import requests
accounts = ga.authenticate(identity = 'LATOKEN', interactive = True, save = True, client_id = '427656127243-7k7eh8ubai5b3hkheu3thcgq1f8qfdrt.apps.googleusercontent.com', 
                           client_secret = 'GPY6YG6pw_TAI84MG_bl9sfv', client_email = 'marsel.mukhametyanov@latoken.com')

def api_query(x,y): 
    ga_getter = accounts['LATOKEN'].service.data().ga()
    ga_q = {"ids" : 'ga:206026899',
                         "metrics" : 'ga:users', 
                        "dimensions" : "ga:Date, ga:Campaign, ga:dimension2",
                        "sort" : 'ga:Date',
                        "filters" : 'ga:Campaign!@(not set);ga:Campaign!@default;ga:Campaign!@lc_round;ga:Campaign!@[LA],ga:Campaign!@newsletter',
                        "samplingLevel" : 'HIGHER_PRECISION', 
                        "max_results": "1000000"}  
    ga_data = []
    offset = 0       
    ga_data_batch = ga_getter.get(
            **ga_q, start_date=f"{x}", end_date=f"{y}", start_index="1"
        ).execute()
    offset = 0
    while "rows" in ga_data_batch:
        ga_data.extend(ga_data_batch["rows"])
        offset += len(ga_data_batch["rows"])
        ga_data_batch = ga_getter.get(
            **ga_q, start_date=f"{x}", end_date=f"{y}", start_index=f"{offset + 1}"
        ).execute()
    df = pd.DataFrame(ga_data, columns=['date', 'campaign', 'userid', 'visitors'])
    return df
        
#paste your period of time in brackets
ga_df = api_query('2020-12-01','2020-12-28') 
print(ga_df)

def run_dwh_sql(sql_query):
    conn = psycopg2.connect(host='135.181.61.116', user='mmukhametyanov', password='X8tryz8tf63UVkvKFccLk', dbname='postgres',port='5432')
    data_sql = pd.read_sql(sql_query, conn)
    conn.close()
    return data_sql
def sql_platform():
    sql_query = f"""
    select
    regs.userid,
    min(regs.date) as date, -- there is only one regdate, we use min for correct grouping by userid
    1 as registered,
    case when sum(txs.count_deposits) > 0 then 1 else 0 end as depositors,
    case when sum(takers.count_trades_taker) + sum(makers.count_trades_maker) > 0 then 1 else 0 end as traders
from
    -- список всех регистраций в формате userid, date
    (select text(vumu.id) as userid, vumu.__create_date as date, count(vumu.id) as signups
    from view_user_manager_user as vumu
    where vumu.status = 'ACTIVE' and vumu.__create_date >= '2020-12-01'
    group by vumu.id, vumu.__create_date) as regs
left join
    -- список всех транзакций по датам в формате userid, date, number of txs'
    (select text(vtmt."user") as userid, vtmt.__create_date as date, count(vtmt."user") as count_deposits
    from view_transaction_manager_transaction vtmt
    where vtmt.type = 'DEPOSIT' and vtmt.__create_date >= '2020-12-01'
    group by vtmt."user", vtmt.__create_date, vtmt."user")  as txs
on txs.userid = regs.userid
left join
    -- строим количество трейдеров по датам в формате userid, date, number of trades
    (select text(vmat.taker_trader) as userid, vmat.__create_date as date, count(vmat.taker_trader) as count_trades_taker
    from view_market_aggregator_trade vmat
    where vmat.__create_date >= '2020-12-01'
    group by vmat.taker_trader, vmat.__create_date) as takers
    on takers.userid = regs.userid
left join
    (select text(vmat.maker_trader) as userid, vmat.__create_date as date, count(vmat.maker_trader) as count_trades_maker
    from view_market_aggregator_trade vmat
    where vmat.__create_date >= '2020-12-01'
    group by vmat.maker_trader, vmat.__create_date) as makers
on makers.userid = regs.userid
group by regs.userid
ORDER BY date;"""
    return run_dwh_sql(sql_query)
print(sql_platform())
#to merge ga_data and sql_data
funnel_platform = pd.merge(ga_df, sql_platform(), how='left', on='userid', suffixes=("_ga", "_sql"))
final = funnel_platform.groupby('campaign')[['visitors', 'registered', 'depositors', 'traders']].sum().reset_index()
pd.set_option('display.max_rows', 248)
display(final)

def sql_tgbot():
    sql_query = f"""
    
select regs.userid,
       min(regs.date) as date, -- there is only one regdate, we use min for correct grouping
       1 as registered_tg_bot,
        case when sum(txs.count_deposits)>0 then 1 else 0 end as depositors_after_signup_tg_bot,
        case when sum(takers.count_trades_taker) + sum(makers.count_trades_maker) > 0 then 1 else 0 end as traders_after_signup_tg_bot
from
         -- список всех регистраций в tg-bot в формате userid, date, которые посетили наше промо
    (select latoken_id:: text as userid, __create_date as date, count(latoken_id) as signups_tgbot
    from view_airdrop_tg_bot_app_user vatbau

    where latoken_id is not null and vatbau.email is not null and __create_date >= '2020-12-01'
    group by latoken_id, __create_date) as regs
left join
-- список всех транзакций по датам в формате userid, date, number of txs
(select text(vtmt."user") as userid, vtmt.__create_date as date, count(vtmt."user") as count_deposits
from view_transaction_manager_transaction vtmt
where vtmt.type = 'DEPOSIT' and vtmt.__create_date >= '2020-12-01'
group by vtmt."user", vtmt.__create_date, vtmt."user"  ) as txs
 on txs.userid = regs.userid
left join
-- строим количество трейдеров по датам в формате userid, date, number of trades
    (select text(vmat.taker_trader) as userid, vmat.__create_date as date, count(vmat.taker_trader) as count_trades_taker
    from view_market_aggregator_trade vmat
    where vmat.__create_date >= '2020-12-01'
    group by vmat.taker_trader, vmat.__create_date) as takers
on takers.userid = regs.userid
left join
    (select text(vmat.maker_trader) as userid, vmat.__create_date as date, count(vmat.maker_trader) as count_trades_maker
    from view_market_aggregator_trade vmat
    where vmat.__create_date >= '2020-12-01'
    group by vmat.maker_trader, vmat.__create_date) as makers
on makers.userid = regs.userid
group by regs.userid;"""
    return run_dwh_sql(sql_query)
funnel_tgbot = pd.merge(ga_df, sql_tgbot(), how = 'left', on = 'userid', suffixes=("_ga", "_sqltg"))
#print(final_tgbot)
final_tgbot = funnel_tgbot.groupby('campaign')[['visitors', 'registered_tg_bot', 'depositors_after_signup_tg_bot', 'traders_after_signup_tg_bot']].sum().reset_index()
pd.set_option('display.max_rows', 248)
display(final_tgbot)

           date                                         campaign  \
0      20201201                       11-29-20---"30-November,-l
1      20201201  7be786d407-EMAIL_CAMPAIGN_2020_10-02-09_COPY_01
2      20201201  7be786d407-EMAIL_CAMPAIGN_2020_10-02-09_COPY_01
3      20201201                          Co_marketing_iob.fi_dao
4      20201201                                 Co_marketing_lrc
...         ...                                              ...
14739  20201228                       twitterxmas_giveaway_dec24
14740  20201228                       twitterxmas_giveaway_dec24
14741  20201228                       twitterxmas_giveaway_dec24
14742  20201228                       twitterxmas_giveaway_dec24
14743  20201228                       twitterxmas_giveaway_dec24

                                     userid visitors
0      449e16b4-ef5d-4a17-86a5-3fe4e65f3040        1
1      2cb8fb3e-460d-4dba-a001-d18fd3b3612d        1
2      3624b49d-4ff7-46d0-b142-d3268612d6c4        1
3      2aeb0f83-d685-4c1c-bada-832a34511c48        1
4      626d094d-1518-4bd7-9abc-1114dacd4189        1
...                                     ...      ...
14739  596cac13-a100-4fc9-b6ce-ffe502442ce6        1
14740  5d8cf171-0c83-425a-91d0-c58a0bae618e        1
14741  7aaff2b4-39ba-42ad-8f66-53c25c096482        1
14742  aacb90a4-8ded-4454-ac26-07deb1f07418        1
14743  e89df051-32e5-4ff1-a2b4-89108d6be3b7        1

[14744 rows x 4 columns]
                                     userid        date  registered  \
0      f197d309-ebfd-440e-a60e-606d78ec700a  2020-12-01           1
1      188494be-805a-452c-9a72-a13940252f48  2020-12-01           1
2      c7fad4e0-344f-48e9-ab8f-962ceb822a06  2020-12-01           1
3      4635eaff-b311-4529-91e0-daf77d1e2585  2020-12-01           1
4      463dbbec-4b84-44c4-84ec-a8eeeac6d779  2020-12-01           1
...                                     ...         ...         ...
14605  4fb8d90e-9f28-474f-8d84-870551d347fc  2020-12-28           1
14606  d02965ba-c8d0-4243-af6d-415b5fa3b0f5  2020-12-28           1
14607  9cb6ffd4-f4e5-4251-b4d5-2bdce885c744  2020-12-28           1
14608  abd2b850-fb14-451d-b028-fb03b328c912  2020-12-28           1
14609  8f1295b5-2a82-44f0-9bea-5d4d729cb9fd  2020-12-28           1

       depositors  traders
0               0        0
1               1        0
2               0        0
3               0        0
4               0        0
...           ...      ...
14605           0        0
14606           0        0
14607           0        0
14608           0        0
14609           0        0

[14610 rows x 5 columns]

                       campaign  registered  depositors  traders
0    10-20-20---An-AirDrop-is-f         0.0         0.0      0.0
1         11-12-2020 Token Burn         0.0         0.0      0.0
2    11-29-20---"30-November,-l         0.0         0.0      0.0
3                         13Aug         0.0         0.0      0.0
4                         26Aug         0.0         0.0      0.0
..                          ...         ...         ...      ...
278                     vic_ieo         0.0         0.0      0.0
279                      weekly         0.0         0.0      0.0
280           weekly_newsletter         0.0         0.0      0.0
281                        zalo         0.0         0.0      0.0
282                  {campaign}         0.0         0.0      0.0

[283 rows x 4 columns]

,campaign,registered_tg_bot,depositors_after_signup_tg_bot,traders_after_signup_tg_bot
0,10-20-20---An-AirDrop-is-f,0.0,0.0,0.0
1,11-12-2020 Token Burn,0.0,0.0,0.0
2,"11-29-20---""30-November,-l",0.0,0.0,0.0
3,13Aug,0.0,0.0,0.0
4,26Aug,0.0,0.0,0.0
...,...,...,...,...
278,vic_ieo,0.0,0.0,0.0
279,weekly,0.0,0.0,0.0
280,weekly_newsletter,0.0,0.0,0.0
281,zalo,0.0,0.0,0.0
282,{campaign},0.0,0.0,0.0

In [2]:
Alex_data = final[final['campaign'].isin(['azuma_tc', 'lsv_bc', 'ddim_tc', 'Co_marketing_tro.network', 'plu_airdrop','Co_marketing_iob.fi_dao','lsv_bc','Co_marketing_commons_earth','Co_marketing_Giftedhands','ghd_airdrop','Co_marketing_trov2','ghd_tc','co_marketing_dogdefi','co_marketing_trov2','telegram_trov2']) ]
Alex_data_tg = final_tgbot[final_tgbot['campaign'].isin(['azuma_tc', 'lsv_bc', 'ddim_tc', 'Co_marketing_tro.network', 'plu_airdrop','Co_marketing_iob.fi_dao','lsv_bc','Co_marketing_commons_earth','Co_marketing_Giftedhands','ghd_airdrop','Co_marketing_trov2','ghd_tc','co_marketing_dogdefi','co_marketing_trov2','telegram_trov2']) ]
sum_Alex_col = Alex_data.sum(axis=0)
sum_Alex_col_tg = Alex_data_tg.sum(axis=0)
sum_Alex_col_tg.rename({'depositors_after_signup_tg_bot':'depositors', 'registered_tg_bot':'registered','traders_after_signup_tg_bot':'traders'},inplace=True)
sum_Alex = sum_Alex_col[1:] + sum_Alex_col_tg[1:]
sum_Alex

registered    388
depositors    118
traders        89
dtype: object

In [3]:
Andrey_data = final[final['campaign'].isin(['ANKR_listing', 'PRDX_listing', 'sand_tc2','LBY_IEO','PSIX_IEO','lsc-airdrop','vic_airdrop','uno_tc','bxt_tc','LSC_marketing','AVEX_marketing','vic_airdrop_invitees','Libonomy_IEO','psix_ieo','prdx_usdt_listing','prdx_tc','prdx_airdrop','sand_tc2'])]
Andrey_data_tg = final_tgbot[final_tgbot['campaign'].isin(['ANKR_listing', 'PRDX_listing', 'sand_tc2','LBY_IEO','PSIX_IEO','lsc-airdrop','vic_airdrop','uno_tc','bxt_tc','LSC_marketing','AVEX_marketing','vic_airdrop_invitees','Libonomy_IEO','psix_ieo','prdx_usdt_listing','prdx_tc','prdx_airdrop','sand_tc2'])]
sum_Andrey_col = Andrey_data.sum(axis=0)
sum_Andrey_col_tg = Andrey_data_tg.sum(axis=0)
sum_Andrey_col_tg.rename({'depositors_after_signup_tg_bot':'depositors', 'registered_tg_bot':'registered','traders_after_signup_tg_bot':'traders'},inplace=True)
sum_Andrey = sum_Andrey_col[1:] + sum_Andrey_col_tg[1:]
sum_Andrey

registered    95
depositors     3
traders        2
dtype: object

In [4]:
Pavel_data = final[final['campaign'].isin(['LYRA_comarketing','beermoney_tc','jsb_comarketing','grt_usdt_listing', 'ABBC_comarketing'])]
Pavel_data_tg = final_tgbot[final_tgbot['campaign'].isin(['LYRA_comarketing','beermoney_tc','jsb_comarketing','grt_usdt_listing','ABBC_comarketing'])]
sum_Pavel_col = Pavel_data.sum(axis=0)
sum_Pavel_col_tg = Pavel_data_tg.sum(axis=0)
sum_Pavel_col_tg.rename({'depositors_after_signup_tg_bot':'depositors', 'registered_tg_bot':'registered','traders_after_signup_tg_bot':'traders'},inplace=True)
sum_Pavel = sum_Pavel_col[1:] + sum_Pavel_col_tg[1:]
sum_Pavel

registered    78
depositors    12
traders        8
dtype: object

In [5]:
Richa_data = final[final['campaign'].isin(['HSBT_LISTING','BTCV_BTC','BEC_comarketing','iron_comarketing','iron_ieo','btcv_airdrop_comarketing','s3p_usdt_listing_comarketing','s3p_airdrop_comarketing','pzs_btc_listingtc_comarketing','pzs_btc_listingtc','s3p_usdt_listing','btcv_tc'])]
Richa_data_tg = final_tgbot[final_tgbot['campaign'].isin(['HSBT_LISTING','BTCV_BTC','BEC_comarketing','iron_comarketing','iron_ieo','btcv_airdrop_comarketing','s3p_usdt_listing_comarketing','s3p_airdrop_comarketing','pzs_btc_listingtc_comarketing','pzs_btc_listingtc','s3p_usdt_listing'])]
sum_Richa_col = Richa_data.sum(axis=0)
sum_Richa_col_tg = Richa_data_tg.sum(axis=0)
sum_Richa_col_tg.rename({'depositors_after_signup_tg_bot':'depositors', 'registered_tg_bot':'registered','traders_after_signup_tg_bot':'traders'},inplace=True)
sum_Richa = sum_Richa_col[1:] + sum_Richa_col_tg[1:]
sum_Richa

registered    115
depositors      6
traders         4
dtype: object

## insert sport table

In [6]:
# Insert function
import requests
def insert(inputs, table, row, column, token): 
    headers = {'Authorization': f'Bearer {token}'}
    uri = f'https://coda.io/apis/v1/docs/Xof9tBguFJ/tables/{table}/rows/{row}'
    payload = {
      'row': {
        'cells': [
          {'column': f'{column}', 'value': str(inputs)},
        ],
      },
    }
    req = requests.put(uri, headers=headers, json=payload)
    req.raise_for_status() # Throw if there was an error.
    res = req.json()
    return(print(f'Updated row {res["id"]}'))
#variable that don't change for all managers
table = 'grid-vG2c6xiUqM'
token = 'fdb0ce9a-9563-4c01-ad82-ac5369a1bcb5'
col_reg = 'c-j-HMsX8e-g'
col_dep = 'c-7ChwoQKujr'
col_trad = 'c-na94ZDwfqm'
#Richa
row = 'i-aGRpHqXcHq'

inputs = str("{:.0f}".format(sum_Richa.loc['registered']))
column = col_reg
insert(inputs, table, row, column, token)
inputs = str("{:.0f}".format(sum_Richa.loc['depositors']))
column = col_dep
insert(inputs, table, row, column, token)
inputs = str("{:.0f}".format(sum_Richa.loc['traders']))
column = col_trad
insert(inputs, table, row, column, token)
#Andrey
row = 'i-bOnagG6qAq'

inputs = str("{:.0f}".format(sum_Andrey.loc['registered']))
column = col_reg
insert(inputs, table, row, column, token)
inputs = str("{:.0f}".format(sum_Andrey.loc['depositors']))
column = col_dep
insert(inputs, table, row, column, token)
inputs = str("{:.0f}".format(sum_Andrey.loc['traders']))
column = col_trad
insert(inputs, table, row, column, token)
#Alex
row = 'i-VTS7fOd80X'
inputs = str("{:.0f}".format(sum_Alex.loc['registered']))
column = col_reg
insert(inputs, table, row, column, token)
inputs = str("{:.0f}".format(sum_Alex.loc['depositors']))
column = col_dep
insert(inputs, table, row, column, token)
inputs = str("{:.0f}".format(sum_Alex.loc['traders']))
column = col_trad
insert(inputs, table, row, column, token)
#Pavel
row = 'i-PoVSHr3_jI'
inputs = str("{:.0f}".format(sum_Pavel.loc['registered']))
column = col_reg
insert(inputs, table, row, column, token)
inputs = str("{:.0f}".format(sum_Pavel.loc['depositors']))
column = col_dep
insert(inputs, table, row, column, token)
inputs = str("{:.0f}".format(sum_Pavel.loc['traders']))
column = col_trad
insert(inputs, table, row, column, token)

Updated row i-aGRpHqXcHq
Updated row i-aGRpHqXcHq
Updated row i-aGRpHqXcHq
Updated row i-bOnagG6qAq
Updated row i-bOnagG6qAq
Updated row i-bOnagG6qAq
Updated row i-VTS7fOd80X
Updated row i-VTS7fOd80X
Updated row i-VTS7fOd80X
Updated row i-PoVSHr3_jI
Updated row i-PoVSHr3_jI
Updated row i-PoVSHr3_jI

## insert CS MTD table

In [26]:
#variable that don't change for all managers
table = 'grid-yDhp1uS_5C'
token = 'fdb0ce9a-9563-4c01-ad82-ac5369a1bcb5'
col_reg = 'c-6fF6KeSoKV'
col_dep = 'c-gH6reeNiw9'
col_trad = 'c-EuuR9d5--C'
#Richa
row = 'i-CPpOTOK5uz'

inputs = str("{:.0f}".format(sum_Richa.loc['registered']))
column = col_reg
insert(inputs, table, row, column, token)
inputs = str("{:.0f}".format(sum_Richa.loc['depositors']))
column = col_dep
insert(inputs, table, row, column, token)
inputs = str("{:.0f}".format(sum_Richa.loc['traders']))
column = col_trad
insert(inputs, table, row, column, token)
#Andrey
row = 'i-5UlHVruXB1'

inputs = str("{:.0f}".format(sum_Andrey.loc['registered']))
column = col_reg
insert(inputs, table, row, column, token)
inputs = str("{:.0f}".format(sum_Andrey.loc['depositors']))
column = col_dep
insert(inputs, table, row, column, token)
inputs = str("{:.0f}".format(sum_Andrey.loc['traders']))
column = col_trad
insert(inputs, table, row, column, token)
#Alex
row = 'i-enIeA4JSCK'
inputs = str("{:.0f}".format(sum_Alex.loc['registered']))
column = col_reg
insert(inputs, table, row, column, token)
inputs = str("{:.0f}".format(sum_Alex.loc['depositors']))
column = col_dep
insert(inputs, table, row, column, token)
inputs = str("{:.0f}".format(sum_Alex.loc['traders']))
column = col_trad
insert(inputs, table, row, column, token)
#Pavel
row = 'i-ljCXn17cZ1'
inputs = str("{:.0f}".format(sum_Pavel.loc['registered']))
column = col_reg
insert(inputs, table, row, column, token)
inputs = str("{:.0f}".format(sum_Pavel.loc['depositors']))
column = col_dep
insert(inputs, table, row, column, token)
inputs = str("{:.0f}".format(sum_Pavel.loc['traders']))
column = col_trad
insert(inputs, table, row, column, token)

Updated row i-CPpOTOK5uz
Updated row i-CPpOTOK5uz
Updated row i-CPpOTOK5uz
Updated row i-5UlHVruXB1
Updated row i-5UlHVruXB1
Updated row i-5UlHVruXB1
Updated row i-enIeA4JSCK
Updated row i-enIeA4JSCK
Updated row i-enIeA4JSCK
Updated row i-ljCXn17cZ1
Updated row i-ljCXn17cZ1
Updated row i-ljCXn17cZ1

In [16]:
#REQUEST TO KNOW IDS OF TABLE, ROW, COLUMN

import requests
headers = {'Authorization': 'Bearer fdb0ce9a-9563-4c01-ad82-ac5369a1bcb5'}
url = f'https://coda.io/apis/v1/docs/Xof9tBguFJ/tables/grid-yDhp1uS_5C/rows'
req = requests.get(url, headers=headers)
req.raise_for_status() # Throw if there was an error.
res = req.json()
res

{'items': [{'id': 'i-jovZku04An',
   'type': 'row',
   'href': 'https://coda.io/apis/v1/docs/Xof9tBguFJ/tables/grid-yDhp1uS_5C/rows/i-jovZku04An',
   'name': 'Moataz Shahin ',
   'index': 4,
   'createdAt': '2020-11-17T11:03:10.754Z',
   'updatedAt': '2020-11-17T11:03:20.404Z',
   'browserLink': 'https://coda.io/d/_dXof9tBguFJ#_tugrid-yDhp1uS_5C/_rui-jovZku04An',
   'values': {'c-sgqK8og1vT': 'Moataz Shahin ',
    'c-zDTJ5t2x1t': '',
    'c-IlmE9wWE_7': '',
    'c-xen77eNrIG': '',
    'c-m2pWjdOZ1F': '',
    'c-AKM5UceyKa': '',
    'c-LFmxfG5dHc': '',
    'c-6fF6KeSoKV': '',
    'c-gH6reeNiw9': '',
    'c-EuuR9d5--C': '',
    'c-ht0rVfcMzd': '',
    'c-3WY_k8GJZr': '',
    'c-vNX7vYVu_F': '',
    'c-3DaU1zRiP0': ''}},
  {'id': 'i-CPpOTOK5uz',
   'type': 'row',
   'href': 'https://coda.io/apis/v1/docs/Xof9tBguFJ/tables/grid-yDhp1uS_5C/rows/i-CPpOTOK5uz',
   'name': 'Richa Patil ',
   'index': 3,
   'createdAt': '2020-11-17T08:43:04.984Z',
   'updatedAt': '2020-12-24T13:41:01.444Z',
   'browserLink': 'https://coda.io/d/_dXof9tBguFJ#_tugrid-yDhp1uS_5C/_rui-CPpOTOK5uz',
   'values': {'c-sgqK8og1vT': 'Richa Patil ',
    'c-zDTJ5t2x1t': 4,
    'c-IlmE9wWE_7': '88%',
    'c-xen77eNrIG': 1,
    'c-m2pWjdOZ1F': 2,
    'c-AKM5UceyKa': '',
    'c-LFmxfG5dHc': '',
    'c-6fF6KeSoKV': 99,
    'c-gH6reeNiw9': 6,
    'c-EuuR9d5--C': 3,
    'c-ht0rVfcMzd': '',
    'c-3WY_k8GJZr': 52,
    'c-vNX7vYVu_F': 0,
    'c-3DaU1zRiP0': 7}},
  {'id': 'i-5UlHVruXB1',
   'type': 'row',
   'href': 'https://coda.io/apis/v1/docs/Xof9tBguFJ/tables/grid-yDhp1uS_5C/rows/i-5UlHVruXB1',
   'name': 'Andrei Damashkevich ',
   'index': 0,
   'createdAt': '2020-11-17T08:12:11.683Z',
   'updatedAt': '2020-12-23T06:18:14.682Z',
   'browserLink': 'https://coda.io/d/_dXof9tBguFJ#_tugrid-yDhp1uS_5C/_rui-5UlHVruXB1',
   'values': {'c-sgqK8og1vT': 'Andrei Damashkevich ',
    'c-zDTJ5t2x1t': 2,
    'c-IlmE9wWE_7': '60%',
    'c-xen77eNrIG': '',
    'c-m2pWjdOZ1F': 1,
    'c-AKM5UceyKa': '',
    'c-LFmxfG5dHc': '',
    'c-6fF6KeSoKV': 56,
    'c-gH6reeNiw9': 2,
    'c-EuuR9d5--C': 1,
    'c-ht0rVfcMzd': '',
    'c-3WY_k8GJZr': 110,
    'c-vNX7vYVu_F': 12,
    'c-3DaU1zRiP0': 22}},
  {'id': 'i-ljCXn17cZ1',
   'type': 'row',
   'href': 'https://coda.io/apis/v1/docs/Xof9tBguFJ/tables/grid-yDhp1uS_5C/rows/i-ljCXn17cZ1',
   'name': 'Pavel Pilikin ',
   'index': 1,
   'createdAt': '2020-11-17T08:12:11.683Z',
   'updatedAt': '2020-12-24T06:25:57.236Z',
   'browserLink': 'https://coda.io/d/_dXof9tBguFJ#_tugrid-yDhp1uS_5C/_rui-ljCXn17cZ1',
   'values': {'c-sgqK8og1vT': 'Pavel Pilikin ',
    'c-zDTJ5t2x1t': 1,
    'c-IlmE9wWE_7': '',
    'c-xen77eNrIG': '',
    'c-m2pWjdOZ1F': '',
    'c-AKM5UceyKa': '',
    'c-LFmxfG5dHc': '',
    'c-6fF6KeSoKV': 19,
    'c-gH6reeNiw9': 7,
    'c-EuuR9d5--C': 4,
    'c-ht0rVfcMzd': '',
    'c-3WY_k8GJZr': 84,
    'c-vNX7vYVu_F': 2,
    'c-3DaU1zRiP0': 12}},
  {'id': 'i-enIeA4JSCK',
   'type': 'row',
   'href': 'https://coda.io/apis/v1/docs/Xof9tBguFJ/tables/grid-yDhp1uS_5C/rows/i-enIeA4JSCK',
   'name': 'Alexandra Smirnova ',
   'index': 2,
   'createdAt': '2020-11-17T08:12:11.683Z',
   'updatedAt': '2020-12-24T06:25:38.828Z',
   'browserLink': 'https://coda.io/d/_dXof9tBguFJ#_tugrid-yDhp1uS_5C/_rui-enIeA4JSCK',
   'values': {'c-sgqK8og1vT': 'Alexandra Smirnova ',
    'c-zDTJ5t2x1t': 4,
    'c-IlmE9wWE_7': '90%',
    'c-xen77eNrIG': 3,
    'c-m2pWjdOZ1F': 2,
    'c-AKM5UceyKa': '',
    'c-LFmxfG5dHc': '',
    'c-6fF6KeSoKV': 330,
    'c-gH6reeNiw9': 99,
    'c-EuuR9d5--C': 81,
    'c-ht0rVfcMzd': '',
    'c-3WY_k8GJZr': 267,
    'c-vNX7vYVu_F': 17,
    'c-3DaU1zRiP0': 32}}],
 'href': 'https://coda.io/apis/v1/docs/Xof9tBguFJ/tables/grid-yDhp1uS_5C/rows?pageToken=eyJsaW1pdCI6MjAwLCJvZmZzZXQiOjAsIm9wVmVyc2lvbiI6NDkwODAsInNjaGVtYVZlcnNpb24iOjE1Mywic29ydEJ5IjoiY3JlYXRlZEF0In0'}